<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-{{ headerTextAlign() }}">{{ header() }}</ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        (click)="closeDialog()"
        aria-label="Close dialog"
      >
        <ion-icon
          slot="icon-only"
          [icon]="closeIcon"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<div
  style="display: flex; flex-direction: column; justify-content: space-between"
  [style.height]="componentRef ? '100%' : 'auto'"
>
  @if (textContent()) {
    <p class="margin-md">{{ textContent() }}</p>
  }
  <ng-content></ng-content> <ng-container #container></ng-container>
  <ion-footer>
    <ion-toolbar>
      <ion-buttons
        slot="end"
        class="dialog-actions"
      >
        <ion-button
          [size]="'large'"
          [fill]="'outline'"
          [color]="'danger'"
          (click)="closeDialog()"
        >
          {{ cancelLabel() ?? 'Cancel' }}
        </ion-button>
        <ion-button
          [size]="'large'"
          [strong]="true"
          [fill]="'outline'"
          [color]="'primary'"
          (click)="submitForm()"
        >
          {{ submitLabel() ?? 'Submit' }}
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</div>
