:host {
  display: flex;
  flex-direction: row;

  ::ng-deep ion-avatar {
    width: 32px;
    height: 32px;
    margin-left: -8px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      z-index: 1;
    }

    &:hover {
      z-index: 100;
    }
  }
}
