@if(loading()){
<div class="fixed top-50 left-50  align-items-center justify-content-center"  style="z-index: 100;">
  <mat-spinner></mat-spinner>
</div>
}
<div class="my-1 mx-5">
  <app-header>
    <app-search-input class="w-3" 
      [autoFocus]="true" 
      [(value)]="initSaerchValue"
      [placeholder]="loading() ? 'Searching...':'Search'" 
    />
     <button matFab extended  aria-label="Clear search"
       (click)="openTaskDialog()">
        <mat-icon>add</mat-icon>
        Create Task
    </button>
  </app-header>
</div>
<div #mainContainer class="flex relative" 
  (appFetchData)="tasks = $event" 
  [filterParams]="initSaerchValue()" 
  [becomeVisibleHtml]="becomeVisible()"
  (loadingChange)="loading.set($event)">
  @for (item of tasks | groupAndSortTask ; track item.key) {
  <div class="flex w-4 my-1 mx-3 flex-column">
    <div class="flex flex-row align-items-center justify-content-center gap-2">
      <h2 class="text-center">
        {{ item.key | replace : "_" : " " }}
      </h2>
    </div>
    <div 
      class="flex flex-column row-gap-4"
      cdkDropList
      [id]="item.key"
      [cdkDropListData]="item"
      [cdkDropListConnectedTo]="TASK_STATUSES_VALUE"
      (cdkDropListDropped)="onDrop($event)">
      @for (task of item.value; track $index) {
        <app-task-card
          cdkDrag
          [cdkDragBoundary]="mainContainer"
          [cdkDragData]="task"
          [task]="task"
          (onDelete)="deleteTask(task)"
          (onEdit)="openTaskDialog(task)"
        />
      }
    </div>
  </div>
  }
  <div becomeVisible style="visibility: hidden; width: 10px; height: 10px; background: blue; z-index: 100; position:absolute; bottom: 0px; right: 50px"></div>
</div>
<app-scroll-top />


