<div class="flex my-1 mx-5 align-items-center">
  <p-iconfield class="w-3">
      <p-inputicon class="pi pi-search" />
    <input
      placeholder="Search"
      (appDebounceInput)="searchChange.next($event)"
      pInputText
      class="w-full"
    />
  </p-iconfield>
    
</div>

<div class="flex m-3">
  @for (item of tasks$ | async | keyvalue | sortTask ; track $index) {
  <div
    class="flex w-4 gap-4 m-3 flex-column"
    pDroppable
    (onDrop)="handleDrop(item.key)"
  >
    <div class="flex flex-row align-items-center justify-content-center gap-2">
      <h2 class="text-center">
        {{ item.key | replace : "_" : " " }}
      </h2>
       <p-button
          icon="pi pi-plus"
          (click)="navigateUserDialog({taskStatus: item.key})"
          pTooltip="Create Task"
          size="small"
        />
    </div>
    @for (task of item.value; track $index) {
    <app-task-card
      pDraggable [pDraggableDisabled]="false" (onDragStart)="draggedTaskId=task.id"
      [task]="task"
      (onDelete)="deleteTask(task.id)"
      (onEdit)="navigateUserDialog(task)"
    ></app-task-card>
    }
  </div>
  }
</div>

<p-toast position="top-right" key="main" />
