<ion-grid>
  <ion-row>
    <ion-col>
      <app-header>
        <app-search-input
          [autoFocus]="true"
          [value]="searchValue()"
          (valueChange)="changeSearchValue($event)"
          [placeholder]="'Search'"
        />
        <ion-button (click)="openTaskDialog()">
          <ion-icon
            slot="start"
            [icon]="addIcon"
          ></ion-icon>
          Create Task
        </ion-button>
      </app-header>
    </ion-col>
  </ion-row>
</ion-grid>
@let loading = tasksQuery.isLoading();
@if (loading) {
  <div
    class="fixed top-50 left-50 align-items-center justify-content-center"
    style="z-index: 100"
  >
    <ion-spinner></ion-spinner>
  </div>
} @else {
  <div
    style="overflow-y: auto; max-height: 80vh"
    #mainContainer
  >
    <ion-grid>
      <ion-row>
        @for (status of TASK_STATUSES; track status; let i = $index) {
          @let tasksByStatus = tasks()[i]?.tasks ?? [];
          <ion-col
            size="12"
            size-md="6"
            size-lg="4"
          >
            <h2 class="ion-text-center">
              {{ status }}
            </h2>
            <div
              cdkDropList
              [id]="status"
              [cdkDropListData]="tasksByStatus"
              [cdkDropListConnectedTo]="TASK_STATUSES"
              (cdkDropListDropped)="onDrop($event, status)"
            >
              @for (task of tasksByStatus; track $index) {
                <app-task-card
                  cdkDrag
                  cdkDragBoundary="#main-container"
                  [menuOpen]="menuIsOpen()[task.id] ?? false"
                  (openMenuEvent)="openMenu(task.id)"
                  (dismissMenuEvent)="dismissMenu()"
                  [cdkDragData]="task"
                  [task]="task"
                  (onDelete)="deleteTask(task)"
                  (onEdit)="openTaskDialog(task)"
                />
              }
            </div>
          </ion-col>
        }
      </ion-row>
    </ion-grid>

    <div
      (becomeVisible)="loadMore()"
      [threshold]="0.8"
      style="visibility: hiden; transform: translateY(-40px); z-index: 100"
    ></div>
  </div>
}
<app-scroll-top />
