<div class="flex gap-2 flex-column">
  <div class="flex flex-row gap-2 w-full">
    <mat-form-field>
      <mat-label>Street</mat-label>
      <input
        [appFirstFocus]="true"
        [attr.id]="'street'"
        placeholder="Enter street"
        [formField]="addressFields().street"
        styleClass="w-full"
        matInput
        class="flex-auto"
      />
    </mat-form-field>
    <mat-error></mat-error>
    <mat-form-field>
      <mat-label>Zip Code</mat-label>
      <input
        [attr.id]="'zip-code'"
        placeholder="Enter zip code"
        [formField]="addressFields().zipCode"
        styleClass="w-full"
        pInputText
        class="flex-auto"
      />
    </mat-form-field>
  </div>
  <div class="flex flex-row w-full">
    <mat-form-field>
      <mat-label>City</mat-label>
      <input
        [attr.id]="'city'"
        placeholder="Enter city"
        [formField]="addressFields().city"
        styleClass="w-full"
        pInputText
        class="flex-auto"
      />
    </mat-form-field>
  </div>
</div>
