<div class="flex flex-column gap-2 w-full">
    @let submitting =false;
    <ng-content />
    <div class="flex flex-row justify-content-end gap-2 mt-auto">
    <button
      pButton
      [tabindex]="-1"
      pRipple
      [severity]="'danger'"
      (click)="onClose.emit(false)"
    >Cancel</button>
   
    <button 
      pButton
      pRipple 
      [severity]="'primary'" 
      (click)="submit($event)"
      [disabled]="submitting"
    >{{submitting ? 'Saving...' : 'Save'}} 
      @if (submitting) { 
      <i class="pi pi-spin pi-spinner"></i> 
    } </button>
  </div>
</div>

