:host {
  .user-menu {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 20px;
    gap: 16px;
    .link-group {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    .link-group ion-router-link {
      cursor: pointer;
      text-decoration: none;
    }

    .logout-button {
      margin-left: auto;
    }
  }

  .app-header {
    --header-link-padding: 4px 8px;
    --header-link-radius: 8px;

    --header-link-color: #ffffff;
    --header-link-hover-color: var(--p-badge-info-background);
    --header-link-hover-bg: #ffffff;

    --header-link-active-color: var(--p-primary-color);
    --header-link-active-bg: #ffffff;
    background-color: var(--mat-sys-on-primary-fixed) !important;
    z-index: 1000;

    a,
    app-link-group a {
      padding: var(--header-link-padding);
      border-radius: var(--header-link-radius);

      &:not(.router-link-active) {
        color: var(--header-link-color);
        text-decoration: none;

        &:hover {
          color: var(--header-link-hover-color);
          background-color: var(--header-link-hover-bg);
        }
      }

      &.router-link-active {
        color: var(--mat-sys-on-primary-fixed);
        background-color: var(--header-link-active-bg);
        cursor: default;
      }
    }
  }
}
