@if (user$ | async; as user) {
  <div id="app-header" class="sticky top-0 right-0 flex mb-3 align-items-center w-full h-3rem gap-3 bg-primary px-5 text-white text-lg">
    <a [routerLink]="['/rest']" routerLinkActive="router-link-active" class="text-white" >Rest</a>
    <a [routerLink]="['/graphql']" routerLinkActive="router-link-active" class="text-white" >Graphql</a>
   <i class="pi pi-sign-out ml-auto cursor-pointer" pTooltip="Logout" (click)="logout()"></i>
  </div>
    <router-outlet></router-outlet>
    <p-dialog
      [visible]="showDialog()"
      (visibleChange)="dialogVisibleChange($event)"
      (hide)="showDialog.set(false)"
      [blockScroll]="true"
      [focusOnShow]="false"
      [closeOnEscape]="true"
      [draggable]="true"
      styleClass="w-4 fixed top-0 right-0 m-0"
      [style]="{ height:'100vh'}"
>
    <ng-template pTemplate="header">
        <span class="font-semibold text-xl">{{ modalHeader() }}</span>
      </ng-template>
    <router-outlet (activate)="onSidebarActivate($event)" (deactivate)="showDialog.set(false)" name="sidebar"></router-outlet>
    </p-dialog>
} @else {
  <router-outlet></router-outlet>
}
<p-toast position="top-right" key="main" />
