<div class="flex justify-content-center flex-column align-items-center h-screen">
  <div class="form flex flex-column w-3 md:w-4 sm:w-6">
    <form class="form flex flex-column gap-3" [formGroup]="form">
        <h1 class="text-center">Login</h1>
        <label for="email">Email</label>
          <input placeholder="Email"
                  [pAutoFocus]="true"
                  formControlName="email"
                  pInputText
                  id="email"
                  styleClass="full-width"
                  class="flex-auto"
          />
        <label for="password">Password</label>
          <p-password #passwordInput formControlName="password"
                [toggleMask]="true"
                [feedback]="true"
                [attr.id]="'password'"
                styleClass="full-width"
          >
        </p-password>
    </form>
    <div class="mt-3">
      <p-button label="Login" (click)="login()" [rounded]="true" class="flex-auto" styleClass="w-full"/>
    </div>
  </div>
</div>

