<div class="flex justify-content-center flex-column align-items-center h-screen">
  <div class="form flex flex-column w-3 md:w-4 sm:w-6">    
    <form class="form flex flex-column gap-3" [formRoot]="loginForm">
      <h1 class="text-center">Login</h1>    
      <app-form-value-wrapper [label]="'Email'" [name]="'email'">
      <input 
        placeholder="Enter email"
        [formField]="loginForm.email"
        [pAutoFocus]="true"
        pInputText
        id="email"
        styleClass="full-width"/>
     </app-form-value-wrapper>
     <app-form-value-wrapper [label]="'Password'" [name]="'password'">
  
      <p-password 
        placeholder="Enter password"
        [formField]="$any(loginForm.password)"
        [attr.id]="'password'"
        [toggleMask]="true"
        [style]="'full-width'"
        >
      </p-password>
     </app-form-value-wrapper>
      <div class="mt-3">
        @let submitting = loginForm().submitting();
        <button pButton
          [disabled]="submitting"
          [type]="'submit'"
          [rounded]="true"
          class="flex-auto"
          style="width: 100%;">
         {{submitting ? 'Logging in...' : 'Login'}}  @if (submitting) { 
      <i class="pi pi-spin pi-spinner"></i> 
       }   </button>
      </div>
    </form>
  </div>
</div>


