@let taskId = task().id;
<ion-card>
  <ion-card-header style="display: flex; flex-direction: row; justify-content: space-between">
    <ion-card-title id="title-{{ taskId }}">{{ task().title }} </ion-card-title>
    <ion-badge [color]="taskSeverityClass()">{{ task().taskPriority }}</ion-badge>
  </ion-card-header>
  <ion-card-content>
    <p
      id="description-{{ taskId }}"
      class="text-600"
    >
      {{ task().description }}
    </p>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
          @let users = task().users ?? [];
          <app-avatar-group>
            @for (user of users | slice: 0 : maxVisibleImages; track user.id) {
              <ion-avatar
                class="avatar"
                id="avatar-group"
                [matTooltip]="user.fullName"
                [matTooltipPosition]="'below'"
              >
                {{ user.fullName | slice: 0 : 1 }}
              </ion-avatar>
            }
            @let length = users.length;
            @if (length > maxVisibleImages) {
              <ion-avatar>{{ length - maxVisibleImages }}</ion-avatar>
            }
          </app-avatar-group>
        </ion-col>
        <ion-col
          size="2"
          class="ion-col-end"
        >
          <ion-button
            size="small"
            fill="clear"
            (click)="openMenu($event)"
            [shape]="'round'"
          >
            <ion-icon
              slot="icon-only"
              [icon]="ellipsisVerticalCircleIcon"
            ></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-popover
  [isOpen]="menuOpen()"
  [event]="menuEvent()"
  (didDismiss)="menuOpen.set(false)"
>
  <ng-template>
    <ion-list>
      <ion-item (click)="onEdit.emit(this.task())">
        <ion-icon
          slot="start"
          [icon]="createOutlineIcon"
        ></ion-icon>
        <ion-label>Edit</ion-label>
      </ion-item>

      <ion-item (click)="onDelete.emit(this.task())">
        <ion-icon
          slot="start"
          [icon]="trashOutlineIcon"
        ></ion-icon>
        <ion-label>Delete</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-popover>
