
<form [formRoot]="taskForm" class="flex flex-column gap-2 w-full">
 <app-form-value-wrapper [label]="'Title'" [name]="'title'">
    <input
      [attr.id]="'title'"
      [pAutoFocus]="true"
      placeholder="Enter title"
      [formField]="taskForm.title"
      styleClass="w-full"
      pInputText
      class="flex-auto"
    />
  </app-form-value-wrapper>
  <app-form-value-wrapper [label]="'Description'" [name]="'description'"> 
    <textarea
      [attr.id]="'description'"
      [formField]="taskForm.description"
      rows="5"
      cols="40"
      styleClass="w-full"
      placeholder="Enter description"
    ></textarea>
  </app-form-value-wrapper>
  <app-form-value-wrapper [label]="'Task Status'" [name]="'taskStatus'">
    <p-select
      [attr.id]="'task-status'"
      [options]="[...TASK_STATUSES]"
      [optionLabel]="'label'"
      [dataKey]="'value'"
      [formField]="$any(taskForm.taskStatus)"
      [placeholder]="'Select task status'"
      class="w-full"
    />
  </app-form-value-wrapper>
  <app-form-value-wrapper [label]="'Task Priority'" [name]="'taskPriority'">
    <p-select
      [attr.id]="'task-priority'"
      [options]="[...TASK_PRIORITIES]"
      [optionLabel]="'label'"
      [dataKey]="'value'"
      [formField]="$any(taskForm.taskPriority)"
      [placeholder]="'Select task priority'"
      class="w-full"
    />
 </app-form-value-wrapper>
<app-form-value-wrapper [label]="'Users'" [name]="'users'">
  <p-multiSelect
    [options]="(users$ | async) ?? []"
    [optionLabel]="'fullName'"
    [dataKey]="'id'"
    [attr.id]="'users'"
    [formField]="taskForm.users"
    [placeholder]="'Select users'"
    styleClass="w-full"
  />
</app-form-value-wrapper>

  <div class="flex flex-row justify-content-end gap-2 mt-auto">
    <button
      pButton
      [tabindex]="-1"
      pRipple
      [severity]="'danger'"
      (click)="closeDialog($event)"
    >Cancel</button>
    @let submitting = taskForm().submitting();
    <button 
      pButton
      pRipple 
      id="save-button"
      [severity]="'primary'" 
      [type]="'submit'"
      [disabled]="submitting"
    >{{submitting ? 'Saving...' : 'Save'}} 
      @if (submitting) { 
      <i class="pi pi-spin pi-spinner"></i> 
    } </button>
  </div>
</form>

