
<form [formRoot]="taskForm" class="flex flex-column gap-2">
  <app-form-value-wrapper [label]="'Title'" [name]="'title'">
    <input
      [attr.id]="'title'"
      [pAutoFocus]="true"
      placeholder="Enter title"
      [formField]="taskForm.title"
      styleClass="w-full"
      pInputText
      class="flex-auto"
    />
  </app-form-value-wrapper>
  <app-form-value-wrapper [label]="'Description'" [name]="'description'">
    <input
      [attr.id]="'description'"
      placeholder="Enter description"
      [formField]="taskForm.description"
      styleClass="w-full"
      pInputText
      class="flex-auto"
      />
  </app-form-value-wrapper>
  <app-form-value-wrapper [label]="'Task Status'" [name]="'taskStatus'">
    <p-dropdown
      [attr.id]="'task-status'"
      [options]="taskStatuses"
      [formField]="taskForm.taskStatus"
      placeholder="Select task status"
      class="w-full"
    >
      <ng-template let-status pTemplate="item">
            {{ status | replace : "_" : " " }}
      </ng-template>
      <ng-template let-status pTemplate="selectedItem">
            {{ status | replace : "_" : " " }}
      </ng-template>
    </p-dropdown>
  </app-form-value-wrapper>
  <app-form-value-wrapper [label]="'Task Priority'" [name]="'taskPriority'">
    <p-dropdown
      [attr.id]="'task-priority'"
      [options]="taskPriorities"
      [formField]="taskForm.taskPriority"
      placeholder="Select task priority"
      class="w-full"
    ></p-dropdown>
  </app-form-value-wrapper>
  <app-form-value-wrapper [label]="'Users'" [name]="'users'">
    <p-multiSelect
      [options]="(users$ | async) ?? []"
      [optionLabel]="'fullName'"
      [dataKey]="'id'"
      [attr.id]="'users'"
      [formField]="taskForm.users"
      placeholder="Select users"
      styleClass="w-full"
    />
    </app-form-value-wrapper>
  </form>
<div class="flex justify-content-end mt-3 gap-2">
  <p-button
    [tabindex]="-1"
    pRipple
    [label]="'Cancel'"
    severity="secondary"
    (click)="close()"
    />
  @let submitting = taskForm().submitting();
  <p-button 
    pRipple 
    [label]="submitting ? 'Saving...' : 'Save'"
    [severity]="'primary'" 
    [type]="'submit'"
    [loading]="submitting"
    [disabled]="submitting"
    (click)="save()" 
    />
</div>
