<ion-grid>
  <ion-row>
    <ion-col>
      <app-header>
        <app-search-input
          (inputChange)="keyword.set($event)"
          [autoFocus]="true"
          [placeholder]="'Search Users'"
        />
        <ion-button (click)="addUser()">
          <ion-icon
            slot="start"
            [icon]="addIcon"
          ></ion-icon>
          Create User
        </ion-button>
      </app-header>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="margin-x-md">
      <div style="width: 700px">
        <ag-grid-angular
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          [rowData]="data.value()"
          [animateRows]="true"
          [domLayout]="'autoHeight'"
          (rowClicked)="onRowClicked($event)"
        />
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
