 <div class="card m-3 base-200">
    <p-table [value]="(users$ | async) ?? []" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template #header>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template #body let-user>
            <tr>
                <td>{{ user.fullName }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <div class="flex gap-1">
                        <p-button
                            icon="pi pi-pencil"
                            [size]="'small'"
                            (click)="editUser(user)"
                        />
                    
                        <p-button
                            icon="pi pi-trash"
                            [size]="'small'"
                            [severity]="'danger'"
                            (click)="deleteUser(user)"
                        />
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
