<form [formRoot]="form">
  <ion-list class="form-group margin-md">
    <ion-item>
      @let titleErrors =
        form.title().touched() && form.title().dirty() ? form.title().errors() : '';
      <ion-input
        [attr.id]="'title'"
        labelPlacement="floating"
        [helperText]="titleErrors"
        [label]="'Title'"
        placeholder="Enter title"
        [formField]="form.title"
      ></ion-input>
    </ion-item>
    <ion-item>
      @let descriptionErrors =
        form.description().touched() && form.description().dirty()
          ? form.description().errors()
          : '';
      <ion-textarea
        [formField]="form.description"
        labelPlacement="floating"
        [helperText]="descriptionErrors"
        label="Description"
        placeholder="Enter description"
      >
      </ion-textarea>
    </ion-item>
    <ion-item>
      <ng-select
        [attr.id]="'task-status'"
        [items]="TASK_STATUSES_OPTIONS"
        [openOnEnter]="true"
        [bindLabel]="'label'"
        [bindValue]="'value'"
        [formField]="form.taskStatus"
        [placeholder]="'Select task status'"
        [clearable]="false"
        [searchable]="false"
        class="w-full"
      />
    </ion-item>
    <ion-item>
      <ng-select
        [attr.id]="'task-priority'"
        [items]="[...TASK_PRIORITIES]"
        [openOnEnter]="true"
        [formField]="form.taskPriority"
        [placeholder]="'Select task priority'"
        [clearable]="false"
        [searchable]="false"
      />
    </ion-item>
    <ion-item>
      @let users = (users$ | async) ?? [];
      <ng-select
        #usersSelect
        [multiple]="true"
        [items]="users"
        [bindLabel]="'fullName'"
        [openOnEnter]="true"
        [attr.id]="'users'"
        [formField]="form.users"
        [placeholder]="'Select users'"
        [clearable]="false"
        [closeOnSelect]="false"
        [clearOnBackspace]="false"
        styleClass="w-full"
      />
    </ion-item>
  </ion-list>
</form>
