@import '@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '@ionic/angular/css/normalize.css';
@import '@ionic/angular/css/structure.css';
@import '@ionic/angular/css/typography.css';
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '@ionic/angular/css/padding.css';
@import '@ionic/angular/css/float-elements.css';
@import '@ionic/angular/css/text-alignment.css';
@import '@ionic/angular/css/text-transformation.css';
@import '@ionic/angular/css/flex-utils.css';

@import '@ng-select/ng-select/themes/material.theme.css';

.invalid-input.touched-input {
  .helper-text {
    color: red !important;
  }
}

.fixed {
  position: fixed;
}

.top-50 {
  top: 50%;
}

.left-50 {
  left: 50%;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

ion-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  justify-content: center;
  background: var(--ion-color-light);
  color: var(--ion-color-dark);
  border: 2px solid var(--ion-color-dark);
  font-weight: 600;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  margin: 0;
}

ion-item > ng-select {
  width: 100%;
}

form,
.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ion-col-end {
  display: flex;
  justify-content: flex-end;
}

.dialog-actions {
  margin-top: 0.75rem;
}
