
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@import '@ng-select/ng-select/themes/material.theme.css';

:root {
  --mat-sys-primary: var(--mat-sys-on-primary-container);
  --ng-select-highlight: var(--mat-sys-primary);
  --mat-form-field-container-vertical-padding: .5rem;
  --mat-form-field-container-height:40px;
  --p-red-500:var(--mat-sys-error);
}

.mdc-text-field--outlined {
  height: 40px;
}

.mat-mdc-form-field-infix, .mat-mdc-form-field-icon-suffix  {
  padding: .5rem .25rem !important;
}

html {

  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
  --p-inputtext-border-color: var(--p-textarea-border-color)
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
   margin: 0;
}
/* You can add global styles to this file, and also import other style files */
//@import 'primeng/resources/themes/lara-light-blue/theme'; // or other theme

@import 'primeflex/primeflex.css';

.mat-mdc-fab-base[matfab] {
  height: 2.25rem;
}

.small-text {
  font-size:  var(--mat-sys-body-small-font);
}

.custom-field {
  --mat-form-field-container-height: 40px;
  --mat-form-field-container-vertical-padding: 8px;
}

.error-snack {
  .mdc-snackbar__surface {
    background-color: red !important;
  }
}

.success-snack {
   .mdc-snackbar__surface {
    background-color: var(--mat-sys-primary-container) !important;
    color: var(--mat-sys-on-surface) !important;
  }
}

.active-link {
   color: var(--mat-sys-primary-container); 
}

.form-input {
  width: 100%;
  padding: 0.75rem 0.25rem;
  border: 1px solid var(--p-inputtext-border-color);
  border-radius: var(--p-inputtext-border-radius);
  background: var(--p-inputtext-background);
  color: var(--p-inputtext-color);
  font-family: inherit;
  font-size: 1rem;
  transition:
    border-color 0.2s,
    box-shadow 0.2s;
}

.form-input:enabled:hover {
  border-color: var(--p-inputtext-hover-border-color);
}

.form-input:enabled:focus {
  outline: none;
  border-color: var(--p-inputtext-focus-border-color);
  box-shadow: var(--p-inputtext-focus-ring-shadow);
}

.form-input::placeholder {
  color: var(--p-inputtext-placeholder-color);
}

.task-card-badge {
   border-radius: .375rem;
   background-color: orange;
   font-weight: 600;
   padding: .375rem;

   &.info {
      background-color: var(--mat-sys-primary-container);
      color: var(--mat-sys-on-primary-container)
   }

   &.danger {
     background-color: var(--mat-sys-error-container);
   }
}

.danger-button {
  color: var(--mat-sys-error) !important;
  border-color: var(--mat-sys-error) !important;
}

