/* You can add global styles to this file, and also import other style files */
//@import 'primeng/resources/themes/lara-light-blue/theme'; // or other theme

@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.css';

body {
   margin: 0;
}

.p-password-input, .p-password, .p-dropdown {
   width: 100%;
}

p-avatar-group > p-avatar:hover {
   z-index: 1000 !important;
   cursor: pointer;
}

.p-menu-list.p-reset > li:first-child:has(span:empty) {
   display: none;
}
